.App {
  margin-left: 10rem;
  text-align: center;
  width: 70%;
}

.moving-from{
  margin-left: 20%;
  text-align: left;
}

.first-row , .second-row , .bhk-section , .items-section , .distance-section , 
.date-section, .flexible-section, .warning-section, .existing-house-content, .new-house-content{
  display: flex;
  align-content: space-around;
}

.sub-line{
  line-height: normal;
}
.from-section , .to-section {
  width: 40%;
}
.main-page , .additional-info-text {
  
  text-align: left;
  
}

.second-row {
  width: 85%;
  justify-content:space-around ;
}


.additional-details , .house-heading {
  justify-content: space-between;
  display: flex;
}

.existing-house-details{
  text-align: left;
}